* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Segoe UI";
    font-size: 13px;
}

/*<editor-fold desc="Top Navigation">*/
.navbar-nav li a {
    font-weight: bold;
    text-transform: uppercase;
}

.nav.navbar-nav li.active a {
    background-color: #ff812c;
}

.tel-no {
    position: absolute !important;
    right: 0 !important;
    bottom: 0 !important;
    background: #08f3f5d6 url(../images/tel-no.png) no-repeat 15px center;
}

.tel {
    width: 202px;
    height: 48px;
    padding-top: 12px !important;
    padding-left: 45px !important;
}

/*</editor-fold>*/

/*<editor-fold desc="Banner Carousel">*/
.carousel .carousel-inner .item img {
    width: 100%;
}

.carousel .carousel-inner .item .carousel-caption {
    background-color: #ffffffb0;
    color: #000000;
    width: 300px;
    height: 150px;
    position: absolute;
    top: 45%;
    left: 25%;
    text-align: center;
    vertical-align: middle;
}

.carousel .banner-control {
    width: 50px;
    position: absolute;
    top: 65%;
    left: 37%;
}

.carousel .banner-control .carousel-control span {
    color: black;
    font-size: 20px;
}

/*</editor-fold>*/

/*<editor-fold desc="Main Content">*/
.content {
    margin: 0px;
    padding-top: 35px;
    text-align: center;
    font-family: "Segoe UI";
    font-size: 13px;
    color: #3c3c3c;
}

.content h1 {
    color: #000000;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bolder;
}

.content p {
    font-size: 15px;
    padding: 10px 0 0 0;
    margin: 0px;
    line-height: 25px;
}

/*</editor-fold>*/

/*<editor-fold desc="Right Side Menu">*/
.sidebar-nav {
    position: fixed;
    top: 74%;
    right: 0px;
    line-height: 25px;
    z-index: -1 !important;
}

.sidebar-nav ul {
    list-style-type: none;
    margin: 0px;
    width: 180px;
}

.sidebar-nav li {
    display: block;
    padding: 10px 0 0px 20px;
    border-bottom: solid 1px white;
    text-align: left;
    background: #000000 url("../images/side-menu-list-style.png") no-repeat 12px center;
    height: 45px;
}

.sidebar-nav a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Segoe UI";
    font-size: 15px;
    color: #ffffff;
    padding-left: 15px;
}

.sidebar-nav li:nth-child(5) {
    margin-top: 50px;
}

.sidebar-nav li:nth-child(n+5) {
    background-color: #ff5102;;
}

.sidebar-nav ul li a.active {
    background-color: orange;
    color: white;
    padding: 30px;
}

/*</editor-fold>*/

/*<editor-fold desc="Image Gallery Tab">*/
.gallery {
    margin-top: 120px;
    /*margin-bottom: 60px;*/
}

.gallery .nav-tabs li a {
    font-family: "Segoe UI" !important;
    font-size: 14px !important;
    color: #000000 !important;
    text-decoration: none;
    text-transform: uppercase;
}

.gallery .nav-tabs li:nth-child(2) a,
.gallery .nav-tabs li:nth-child(3) a {
    text-transform: capitalize !important;
    color: #03b2b3 !important;
    padding-left: 30px;
}

.gallery .nav-tabs li:nth-child(2) .active {
    background: url("../images/residential.png") no-repeat;
}

.gallery .nav-tabs li:nth-child(3) {
    background: url("../images/commercial.png") no-repeat -24px, 0px;
}

/*</editor-fold>*/

/*<editor-fold desc="Tab Item">*/
.thumbnail {
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
}

.tab-title {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 70px;
    color: #000000;
    padding-top: 18px;
    padding-left: 15px;
    background: transparent url("../images/text-backgorund.png") no-repeat center;
}

.overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgba(9, 130, 130, 0.89);
    display: none;
    width: 100%;
    height: 100%;
    margin: auto auto;
}

.thumbnail:hover .overlay {
    display: block;
}

.thumbnail:hover .overlay a {
    display: block;
    text-align: center;
    color: white;
    margin-top: 80px;
    text-decoration: none;
}

.thumbnail:hover .overlay a div {
    padding: 15px;
    border-radius: 50px;
    border: solid 10px;
    background: transparent;
    font-size: 30px;
}

.thumbnail:hover .overlay h4 {
    text-align: center;
    margin-top: 20px;
}

.thumbnail:hover .tab-title {
    display: none;
}

/*</editor-fold>*/

/*<editor-fold desc="About Us">*/
.about-us {
    font-family: "Segoe UI";
    font-size: 13px;
    color: gray;
    text-align: justify;
    margin-top: 120px;
}

.about-us h2 {
    color: #000000;
    margin-bottom: 15px;
}

.about-us-left {
    border-right: solid 2px gray;
    margin-bottom: 20px;
}

.about-us .logo {
    float: left;
    width: 50%;
    height: 150px;
    background: url("../images/about-us.jpg") no-repeat;
}

.about-us-left .comment {
    float: left;
    width: 50%;
    text-align: left;
    padding: 4px;
}

.about-us-left .comment .cmt1 {
    font-size: 20px;
}

.about-us-left .comment .cmt2 {
    margin-top: 10px;
    color: #51D5D6;
}

.about-us-left .desc {
    margin-top: 18px;
    text-align: justify;
    color: gray;
}

.about-us-right {
    padding-left: 0px;
    margin-left: 0px;
    margin-bottom: 20px;
}

.about-us-right h3 {
    font-family: "Segoe UI";
    font-size: 17px;
    padding-left: 30px;
    background: url("../images/a.png") no-repeat left 7px;
}

.about-us-right .text {
    padding-left: 30px;
}

.about-us-right a {
    color: #51D5D6;
}

/*</editor-fold>*/

/*<editor-fold desc="Footer">*/
.footer {
    margin-top: 120px;
    padding-bottom: 50px;
    background-color: #0f0f0f;
}

.footer .testimonial p, .footer .testimonial h3 {
    color: #ffffff;
    font-family: "Segoe UI";
}

.footer .quick-link p, .footer .quick-link h3, .footer .quick-link a,
.footer .address p, .footer .address h3, .footer .address h4, .footer .address a,
.footer .subscribe p, .footer .subscribe h3, .footer .subscribe h4, .footer .subscribe a {
    color: #ffffff;
    font-family: "Segoe UI";
    text-decoration: none;
}

.testimonial {
    padding-top: 15px;
}

.testimonial ul {
    padding-top: 10px;
    list-style-type: none;
}

.testimonial ul li {
    display: inline-block;
}

.testimonial ul li:first-child {
    width: 192px;
    vertical-align: middle;
    border: solid 1px #ffffff;
}

.testimonial ul li img {
    border-radius: 50%;
}

.testimonial h3 {
    padding-bottom: 53px;
}

.testimonial .text {
    line-height: 30px;
}

.quick-link {
    padding-top: 15px;
    margin-left: 25px;
    background: url("../images/exclm-sign.png") no-repeat 140px 30px;
}

.quick-link h3 {
    padding-bottom: 53px;
}

.quick-link ul {
    padding-left: 12px;
    line-height: 25px;
    list-style-image: url("../images/a.png");
}

.address {
    padding-top: 15px;
    background: url("../images/exclm-sign.png") no-repeat 120px 30px;
}

.address h3 {
    padding-bottom: 53px;
}

.address h4 {
    padding-bottom: 10px;
}

.address p {
    line-height: 17px;
}

.subscribe {
    padding-top: 15px;
}

.subscribe h3 {
    padding-bottom: 53px;
}

.subscribe input[type="email"] {
    height: 30px;
    width: 215px;
    padding: 20px;
}

.subscribe input[type="button"] {
    background: #08f3f5d6;
    border: 0;
    width: 105px;
    height: 35px;
    margin-top: 10px;
    font-weight: bolder;
}

.subscribe h3:nth-child(4) {
    padding-bottom: 0;
    padding-top: 17px;
    margin-bottom: 10px;
}

.subscribe ul {
    list-style-type: none;
}

.subscribe ul li {
    display: inline-block;
}

.subscribe ul li a {
    display: block;
    height: 32px;
    width: 32px;
}

.subscribe ul li:nth-child(1) a {
    background: url("../images/facebook-icon.png") no-repeat left;
}

.subscribe ul li:nth-child(2) a {
    background: url("../images/twitter-icon.png") no-repeat left;
}

.subscribe ul li:nth-child(3) a {
    background: url("../images/linked-in-icon.png") no-repeat left;
}

.subscribe ul li:nth-child(4) a {
    background: url("../images/mail-icon.png") no-repeat left;
}

.subscribe ul li:nth-child(5) a {
    background: url("../images/edit-icon.png") no-repeat left;
}

/*</editor-fold>*/